* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
}

form {
  display: inline-block;
}

.container {
  width: 80%;
  margin: auto;
}

.section {
  padding: 50px 0;
}

.btn {
  cursor: pointer;
  padding: 5px 12px;
  margin: 0 10px;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  border: 1px solid purple;
}

.btn:hover {
  opacity: 0.6;
}

.btn.standard {
  color: #fff;
  background-color: purple;
}

.btn.delete {
  color: purple;
  background-color: #fff;
}

.btn.delete:hover {
  color: #fff;
  background-color: purple;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  border-bottom: 3px solid purple;
}

header .navbar .logo {
  color: purple;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 10px;
}

header .navbar nav .link-route {
  display: flex;
}

header .navbar nav .link-route li {
  margin-left: 20px;
}

header .navbar nav .link-route li:last-child {
  margin-right: 20px;
}

main .container .section ul .movie {
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 2px solid lightgray;
}

