// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// STILI GENERALI
.container {
    width: 80%;
    margin: auto;
}

.section {
    padding: 50px 0;
}

h1 {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
}
