// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// STILI GENERALI
body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
}

form {
    display: inline-block;
}

input.delete {
    // border: none;
}

.container {
    width: 80%;
    margin: auto;
}

.section {
    padding: 50px 0;
}

.btn {
    @include btn;

    &.standard {
        @include btn_standard;
    }
    &.delete {
        @include btn_delete;
    }
}
