header {
    .navbar {
        @include flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10px;
        border-bottom: 3px solid purple;

        .logo {
            color: $colore_primario;
            font-size: 40px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 10px;
        }
        nav {
            .link-route {
                @include flex;

                li {
                    margin-left: 20px;

                    &:last-child {
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}
